
body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #e2cb9f;
    background-color: #2b749d;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

h1, h2 {
    color: #FFCC66;
    background-color: #003366;
    margin: 25px 0 15px;
    padding: 12px 15px;
    border-left: 5px solid #FFCC66;
    border-bottom: 2px solid #FFCC66;
    font-weight: normal;
    letter-spacing: 1px; 
}

.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #003366;

    border: none; 
    box-shadow: none;
}

h1 {
    font-size: 2em;
    text-align: center;
}

a {
    color: #e2cb9f;
    text-decoration: underline;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

.whale-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
    margin: 30px 0;
    padding: 0;
    background-color: #002244;
    border: 8px solid #002244;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.whale-gallery img {
    width: calc(33.333% - 0px);
    height: 180px;
    object-fit: cover;
    margin: 0;
    padding: 0;
    box-shadow: none;
}


.cormorans {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 40px auto;
    background: #002244;
    padding: 5px;
}


@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    h1, h2 {
        margin-left: 0;
        margin-right: 0;
    }

    .whale-gallery {
        flex-direction: column;
        align-items: center;
    }

   .whale-gallery img {
        width: 100%; 
        margin-bottom: 0;
    }
}



p {
    margin: 15px 0;
    text-align: justify;
}